.nb-bg{
height: 90px;
background-color: dodgerblue;
padding: 5%;

display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;

color: antiquewhite;
};

a{
    color: antiquewhite;
}